/*Splenr: Your go-to webapp for Filipino job needs. 
  Developed by Blessed Bagor for EXPERTIST. 
  Started on August 8, 2023.
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: #228b22; /* Official Color of Splenr */
    --text-color-dark: #333333; /* Text color for Light Background */
    --text-color-light: #333333; /* Text color for Dark Background */
    --bg-color-light: #f8f8f8; /* Light Background Color */
    --bg-color-dark: #222222; /* Dark Background Color */
    --button-color-default: #228b22; /* Default Button Color */
    --button-color-active: #1c7c1c; /* Active Button Color */
    --button-color-hover: #1c7c1c; /* Hover Button Color */
    --button-color-disabled: #a0a0a0; /* Disabled Button Color */
    --primary-heading-color: #333333; /* H1 Heading Color */
    --secondary-heading-color: #555555; /* H2 to H6 Heading Color */
    --shadow-color: #0000001a; /*Box shadow: rgba(0,0,0,0.1) Subtle Shadow */
    --hover-color: #1c7c1c; /* Hover Color */
    --text-selection-color: #228b22; /* Text Selection Color  */
    --bg-selection-color: #c4ffc4; /* Background Selection Color */
    --error-color: #ff0000; /* Error color */
    --warning-color: #ffa500; /* Warning color */
    --dark-mode-bg-color: #111111; /* Dark Mode Background Color */
    --dark-mode-text-color: #cccccc; /* Dark Mode Text Color */
    --accent-color: #228b22; /* Accent Color */
    --success-color: #008000; /* Success color */
    --postive-color: #ffa500; /* Positive color */
    --light-mode-bg-color: #ffffff; /* Light Mode Background Color */
    --light-mode-text-color: #333333; /* Light Mode Text Color */

    --font-heading: 'Poppins', sans-serif;
    --font-text: 'Inter', sans-serif;
  
    --border-radius: 4px;

}

/*Heading Font*/
nav, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
/* Text Font */
p, a, span, label, input, button {
  font-family: var(--font-text);
}

/* Navbar */
.navbar {
  color: var(--primary-heading-color);
  background-color: var(--bg-color-light);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23228b22' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.x-icon:before {
  font-family: var(--font-text);
  content: "X";
  display: inline-block;
  font-size: 42px;
  background-color: var(--bg-color-light);
  color: var(--primary-color);
}

.navbar-toggler {
  border-color: transparent;
  color: var(--bg-color-light);
}

.navbar-toggler:hover {
  border-color: transparent;
  color: var(--bg-color-light);

}


